@model List<ContatoModel>

@{
    ViewData["Title"] = "Listagem de Contatos";
}


<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="CriarContato">Adicionar novo Contato</a>
    </div>
    <br />
    <h1 class="display-4">Listagem de Contatos</h1>

    <!-- Cria a tabela para exibir os Contatos-->
    <table class="table">
        <thead class="table-light">
            <!-- Define o Cabeçalho da Tabela-->
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>

        <!-- Imprime os dados Cadastrados-->
        <tbody class="table-group-divider">
            @if(Model != null && Model.Any())
            {
                foreach (var contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                             <a role="button" type="button" class="btn btn-primary" asp-controller="Contato" asp-action="EditarContato">Editar</a>
                             <a role="button" type="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarContato">Apagar</a>
                        </div>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
